.main{
    width: 430px;
   margin-top: 100px;
}
.main .punch-line{
    font-size:60px;
    line-height:100%;
}
.short-line{
    font-size: 17px;
    margin: 25px 0px;
}
body{
    
    background-image: url("pictures/back.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: right;
   
    font-family: Roboto;
    padding-left: 100px;
    padding-top: 20px;
    
}
.profile{
    display: flex;
    align-items:flex-start;
    margin-top: 50px;
}
.dp{
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
    
}
.name{
    font-size:16px;
    font-weight: 600;
    margin-bottom: 7px;
}
.role{
    font-size: 14px;
    color:gray
}